{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "324320755747.dkr.ecr.us-west-2.amazonaws.com/casey-test:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8000"
    }
  ]
}